In [1]:
import pandas as pd
import numpy as np

# Load in preprocessed data

In [2]:
cleaned_df = pd.read_csv("outputs/cleaned_matched_df.csv")
cleaned_df

,ID,Topic,ReversedDomain,Content
0,362,Business,ac.accent,"['accent', 'services', 'uk', 'based', 'full', ..."
1,362,Regional,ac.accent,"['accent', 'services', 'a', 'full', 'service',..."
2,383,Regional,ac.acs,"['anderson', 'county', 'schools', 'public', 's..."
3,390,Games,ac.adamcadre,"['allows', 'the', 'game', 'to', 'be', 'played'..."
4,424,World,ac.aikido,"['langnau', 'aikidogruppe', 'in', 'zusammenarb..."
...,...,...,...,...
2289392,91033952,Society,zw.org.nascoh,"['national', 'association', 'of', 'societies',..."
2289393,91034085,Computers,zw.org.zispa,"['zw', 'domain', 'zimbabwe', 'nic', 'for', 'zw..."
2289394,91034085,Regional,zw.org.zispa,"['zimbabwe', 'internet', 'service', 'providers..."
2289395,91034088,Regional,zw.org.zlhr,"['zimbabwe', 'lawyers', 'for', 'human', 'right..."
2289396,91034088,Society,zw.org.zlhr,"['zimbabwe', 'lawyers', 'for', 'human', 'right..."

In [3]:
topics = cleaned_df["Topic"].unique()
topics

array(['Business', 'Regional', 'Games', 'World', 'Computers', 'Health',
       'Science', 'Sports', 'Society', 'Arts', 'Recreation', 'Shopping',
       'Reference', 'Home', 'News'], dtype=object)

In [4]:
term_vectors_df = pd.read_csv("outputs/term_vectors.csv")
term_vectors_df

,Terms,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World
0,accent,19,76,6,0,10,0,0,1,2,137,3,41,5,2,110
1,services,779,30568,8031,97,7371,400,134,1478,1857,156151,3359,878,12404,820,16133
2,uk,1876,5894,1014,164,877,214,123,1274,246,8841,1187,1648,1636,1434,168
3,based,5339,12949,4371,552,1385,245,308,2478,442,14008,1493,1599,4172,2415,149
4,full,1577,3723,832,162,1253,136,44,806,222,11928,672,575,919,475,377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428960,sterkinekor,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1428961,tanganda,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1428962,utande,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1428963,nascoh,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1428964,zlhr,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0

In [5]:
term_vector_totals = term_vectors_df.drop(columns=["Terms"]).sum()
term_vector_totals

Arts           2752549
Business       3439790
Computers      1254315
Games           380098
Health          827734
Home            288867
News            110580
Recreation     1223466
Reference       624425
Regional      16027153
Science        1167547
Shopping        971404
Society        3034022
Sports         1213856
World         18595112
dtype: int64

In [6]:
pr_vectors_df = pd.read_csv("outputs/pr_vectors_df.csv")
pr_vectors_df

,ID,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World,Unbiased
0,362,0.000000e+00,1.498642e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.361890e-07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.148684e-07
1,383,6.393060e-06,8.917722e-06,7.320605e-06,6.801204e-06,8.280223e-06,7.133076e-06,6.111280e-06,8.253913e-06,6.925709e-06,1.019222e-05,6.780863e-06,8.121686e-06,8.750813e-06,8.716358e-06,7.783090e-06,8.619491e-06
2,390,1.522791e-06,9.504839e-07,1.386516e-06,2.670425e-05,9.543138e-07,1.112552e-06,1.063457e-06,1.087097e-06,1.118466e-06,9.674741e-07,1.121593e-06,9.912928e-07,1.109983e-06,9.798989e-07,9.918484e-07,1.151542e-06
3,424,7.858411e-09,2.881648e-09,4.524512e-09,3.438162e-09,2.493980e-09,2.619673e-09,2.556108e-09,2.942114e-09,3.070549e-09,3.185356e-09,3.382968e-09,2.767585e-09,3.680720e-09,2.767798e-09,2.956895e-07,1.304056e-07
4,442,1.443802e-06,1.489337e-06,6.973969e-06,1.549083e-06,1.361431e-06,1.391323e-06,1.199559e-06,1.415722e-06,1.389417e-06,1.483011e-06,1.370871e-06,1.407167e-06,1.465477e-06,1.396929e-06,1.721420e-06,1.719387e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089095,91033860,1.671104e-07,2.085876e-07,2.424794e-07,1.832631e-07,1.738028e-07,1.624322e-07,1.438726e-07,1.834418e-07,1.850094e-07,5.641621e-07,1.972626e-07,1.731439e-07,1.850381e-07,1.742519e-07,2.078488e-07,3.266362e-07
2089096,91033932,2.967283e-07,1.181393e-07,1.885021e-07,2.755727e-07,2.075908e-07,5.334217e-07,1.543356e-07,2.163607e-07,1.573319e-07,5.270430e-07,2.704944e-07,1.793535e-07,3.065950e-07,1.449189e-07,1.133435e-07,2.802482e-07
2089097,91033952,4.177959e-08,4.817609e-08,4.460005e-08,3.859092e-08,5.765525e-08,5.778306e-08,4.950349e-08,4.947143e-08,6.118235e-08,7.779341e-08,6.265003e-08,4.068223e-08,2.217057e-06,4.861505e-08,3.217385e-08,1.656155e-07
2089098,91034085,1.317181e-07,1.437084e-07,4.772864e-06,1.388089e-07,1.302309e-07,1.312568e-07,1.257381e-07,1.280443e-07,1.363033e-07,4.752886e-07,1.342529e-07,1.374969e-07,1.574873e-07,1.293131e-07,1.439012e-07,2.590354e-07
2089099,91034088,4.252099e-07,3.736757e-07,3.947651e-07,3.891017e-07,4.590540e-07,4.274587e-07,5.319076e-07,3.927426e-07,4.464814e-07,7.321779e-07,5.078783e-07,3.825401e-07,2.763175e-06,3.635769e-07,3.279794e-07,4.875942e-07

In [100]:
# pr_vectors_df = pd.read_csv("pr_vectors_df.csv")
# pr_vectors_df

,ID,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World,Unbiased
0,362,0.000000,3.130812,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.702332,0.000000,0.000000,0.000000,0.000000,0.000000,0.239972
1,383,13.355741,18.630013,15.293476,14.208396,17.298214,14.901709,12.767076,17.243249,14.468499,21.292576,14.165902,16.967014,18.281323,18.209343,16.259654,18.006980
2,390,3.181263,1.985656,2.896571,55.787849,1.993657,2.324233,2.221669,2.271054,2.336587,2.021150,2.343120,2.070910,2.318866,2.047107,2.072070,2.405686
3,424,0.016417,0.006020,0.009452,0.007183,0.005210,0.005473,0.005340,0.006146,0.006415,0.006655,0.007067,0.005782,0.007689,0.005782,0.617725,0.272430
4,442,3.016247,3.111374,14.569319,3.236190,2.844166,2.906612,2.505998,2.957586,2.902631,3.098158,2.863887,2.939713,3.061528,2.918324,3.596219,3.591971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089095,91033860,0.349110,0.435760,0.506564,0.382855,0.363091,0.339337,0.300564,0.383228,0.386503,1.178591,0.412101,0.361715,0.386563,0.364030,0.434217,0.682376
2089096,91033932,0.619895,0.246805,0.393800,0.575699,0.433678,1.114371,0.322423,0.451999,0.328682,1.101045,0.565090,0.374687,0.640508,0.302750,0.236786,0.585467
2089097,91033952,0.087282,0.100645,0.093174,0.080620,0.120448,0.120715,0.103418,0.103351,0.127816,0.162518,0.130882,0.084989,4.631653,0.101562,0.067214,0.345987
2089098,91034085,0.275172,0.300221,9.970990,0.289986,0.272065,0.274209,0.262679,0.267497,0.284751,0.992925,0.280468,0.287245,0.329007,0.270148,0.300624,0.541151
2089099,91034088,0.888306,0.780646,0.824704,0.812872,0.959010,0.893004,1.111208,0.820479,0.932744,1.529593,1.061009,0.799164,5.772550,0.759548,0.685182,1.018633

# Query

In [42]:
def get_queried_rank(query):
    
    query_list = query.split(" ")
    query_rows = term_vectors_df[term_vectors_df['Terms'].isin(query_list)].drop(columns=['Terms'])

    # =           P(c_j)     * D_j_t1 * D_j_t2 * ... * D_j_tn   /   (Sum_i D_ji)    **    n
    weights = (1 / len(topics)) * query_rows.prod() / (term_vector_totals ** len(query_rows))
    weights = weights / weights.sum()
    
    ts_pagerank = (weights * pr_vectors_df.drop(columns=["ID", "Unbiased"])).sum(axis=1)
    
    return weights, ts_pagerank

In [47]:
weights, ts_pagerank = get_queried_rank("affirmative action")
ts_pagerank

0          9.444376e-08
1          8.335287e-06
2          1.092558e-06
3          3.971782e-09
4          1.644941e-06
               ...
2089095    1.941198e-07
2089096    2.588705e-07
2089097    1.317146e-06
2089098    3.239198e-07
2089099    1.796195e-06
Length: 2089100, dtype: float64

In [116]:
# get_queried_rank("affirmative action")

0          5.838182e-11
1          5.152582e-09
2          6.753812e-10
3          2.455216e-12
4          1.016845e-09
               ...
2089095    1.199981e-10
2089096    1.600247e-10
2089097    8.142133e-10
2089098    2.002359e-10
2089099    1.110345e-09
Length: 2089100, dtype: float64

In [72]:
queried_tspr = {}
queries = ["affirmative action", "alcoholism", "amusement parks", "architecture", "bicycling", "blues", 
           "cheese", "citrus groves", "classical guitar", "computer vision", "cruises", 
           "death valley", "field hockey", "gardening", "graphic design", "gulf war", "hiv", 
           "java", "lipari", "lyme disease", "mutual funds", "national parks", 
           "parallel architecture", "recycling cans", "rock climbing", "san francisco", "shakespeare", 
           "stamp collecting", "sushi", "table tennis", "telecommuting", "vintage cars", "volcano", 
           "zen buddhism", "zener"]

In [73]:
for query in queries:
    queried_tspr[query] = get_queried_rank(query)

In [75]:
queried_tspr["alcoholism"]

0          1.928142e-07
1          1.819529e-04
2          2.111412e-05
3          5.692279e-08
4          2.996200e-05
               ...
2089095    4.029783e-06
2089096    4.772189e-06
2089097    2.444343e-06
2089098    3.068040e-06
2089099    1.139420e-05
Length: 2089100, dtype: float64

In [78]:
test = term_vectors_df[term_vectors_df['Terms'].isin(["test", "me"])]
test

,Terms,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World
1064,test,130,1260,608,32,123,205,0,133,142,1160,500,107,163,74,866
4046,me,438,58,566,105,50,15,4,43,18,293,19,71,139,21,520

In [79]:
test = test.drop(columns=['Terms'])

In [80]:
test

,Arts,Business,Computers,Games,Health,Home,News,Recreation,Reference,Regional,Science,Shopping,Society,Sports,World
1064,130,1260,608,32,123,205,0,133,142,1160,500,107,163,74,866
4046,438,58,566,105,50,15,4,43,18,293,19,71,139,21,520

In [90]:
vecs = test.prod() / (term_vector_totals ** len(query_rows))
vecs

Arts          7.515318e-09
Business      6.176390e-09
Computers     2.187292e-07
Games         2.325670e-08
Health        8.976221e-09
Home          3.685100e-08
News          0.000000e+00
Recreation    3.820641e-09
Reference     6.555416e-09
Regional      1.323161e-09
Science       6.969071e-09
Shopping      8.050861e-09
Society       2.461302e-09
Sports        1.054670e-09
World         1.302338e-09
dtype: float64

In [91]:
1/15 * vecs

Arts          5.010212e-10
Business      4.117593e-10
Computers     1.458195e-08
Games         1.550447e-09
Health        5.984147e-10
Home          2.456733e-09
News          0.000000e+00
Recreation    2.547094e-10
Reference     4.370278e-10
Regional      8.821076e-11
Science       4.646047e-10
Shopping      5.367241e-10
Society       1.640868e-10
Sports        7.031135e-11
World         8.682252e-11
dtype: float64